.signup_left {
  width: 50%;
  height: inherit;
  background-color: #e0e0e0;
  border-radius: 10rem 0 0 10rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instruction_list {
  padding: 6rem;
  background-color: #e0e0e0;
  border-radius: 5rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
